.containerModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.ContainerButtons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: flex-end;
}

.Buttons {
  flex: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.table tr:hover {
  background-color: #f5f5f5;
}
